---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}
{{#partial "heading-full-width"}}
    <div class="inner-page-heading">
        <div class="container">
            <div class="heading-wrp text-center">
                {{#unless theme_settings.hide_category_page_heading }}
                    <h1 class="page-heading">{{category.name}}</h1>
                {{/unless}}
                <div class="category-desc">
                    {{{category.description}}}
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{#partial "page"}}

<!-- {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}} -->
<!-- {{#if category.image}}
    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage category.image 'zoom_size'}}">
{{/if}} -->



{{{snippet 'categories'}}}
<div class="page">
    <!-- {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}} -->

    {{#if banners.top}}
        <div class="banners m-t-30 m-b-30" data-banner-location="top">
            {{#each (limit banners.top_metadata 1)}}
            <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
                <div data-event-type="promotion-click">
                    {{{this.content}}}
                </div>
            </div>
            {{/each}}
        </div>
    {{/if}}

    <main class="page-content" id="product-listing-container">
        {{#if category.products}}
            {{> components/category/product-listing}}
        {{else}}
            <p>{{lang 'categories.no_products'}}</p>
        {{/if}}
    </main>

    {{#if banners.bottom}}
        {{#if settings.data_tag_enabled}}
            <div class="banners m-t-30 m-b-30" data-banner-location="bottom">
                {{#each (limit banners.bottom_metadata 1)}}
                    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                        <div data-event-type="promotion-click">
                            {{{this.content}}}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <div class="banners" data-banner-location="bottom">
                <div class="banner">
                    {{{limit banners.bottom 1}}}
                </div>
            </div>
        {{/if}}
    {{/if}}

</div>

{{/partial}}
{{> layout/base}}
