<div class="home-about-section">
    <div class="container">
        
    <div class="about-wrp">
            <div class="border-wrp"></div>
        <ul class="tabs" data-tab>
            <li class="tab is-active">
                <a class="tab-title" href="#tab-our-story">Welcome to Tule's Cookies</a>
            </li>

            <li class="tab">
                <a class="tab-title" href="#tab-about-us">About Us</a>
            </li>

            <!-- <li class="tab">
                <a class="tab-title" href="#tab-our-vision">Our Vision</a>
            </li> -->
            {{#if theme_settings.cookie-archive}}
                <li class="tab cookie-archive-tab">
                    <a class="tab-title" href="#tab-cookie-archive">Cookie Archive</a>
                </li>
            {{/if}}
        </ul>
        <div class="tabs-contents">
            <div class="tab-content is-active" id="tab-our-story">
                <!-- <h3>Welcome to Tule's Cookies!</h3> -->
                <p>Our June collection is currently available. We offer artisan, delectable treats made from scratch in small batches, using only premium ingredients sourced locally where possible. We rotate and bake our collection once a month offering you a new variety each month. One bite of our cookies will leave you wanting more! Free shipping on orders of $36 or more.</p>    
            </div>

             <div class="tab-content" id="tab-about-us">
                <p><strong>Tule’s (Too-lee’s) Cookies</strong> is a small, artisanal baking company founded by Tule, the company’s namesake, her sister Laura and daughter Jennifer. They all share the love of cooking and especially baking.  The family owned company continues today with the two sisters, Tule and Laura, working side by side.</p>
                <p>Tule started out as a professional printmaker whose work has been shown and published in Northern California galleries. The company logo was created with a serigraph that Tule had sent out as a Christmas card to friends and family many, many, many years ago. It was very fitting, when she launched her cookie business, to feature pieces of work from her past and to continue sharing her creativity now in the form of edibles.</p>
                <p>As an avid baker most of her life, Tule has been focusing on developing her own recipes as well as resurrecting some old family recipes that are well over 40 years old. The granola came about because she just couldn’t find something that she liked, so she made her own.</p>
                <p>Like her, the recipes at Tule’s Cookies are unique without being pretentious, and their presentation is warm, handmade, and yet always beautiful and professional. The goal is to always have cookies that taste just as good as they look.</p>
            </div>

        
          <!--  <div class="tab-content" id="tab-our-vision">
                <h3>Welcome to Tule's Cookies !!!</h3>
                <p>Tule’s (Too-lee’s) Cookies is a small, artisanal baking company founded by Tule, the company’s namesake, her sister Laura and daughter Jennifer. They all share the love of cooking and especially baking.  The family owned company continues today with the two sisters, Tule and Laura, working side by side.</p>
                <p>Tule started out as a professional printmaker whose work has been shown and published in Northern California galleries. The company logo was created with a serigraph that Tule had sent out as a Christmas card to friends and family many, many, many years ago. It was very fitting, when she launched her cookie business, to feature pieces of work from her past and to continue sharing her creativity now in the form of edibles.</p>
                <p>As an avid baker most of her life, Tule has been focusing on developing her own recipes as well as resurrecting some old family recipes that are well over 40 years old. The granola came about because she just couldn’t find something that she liked, so she made her own.</p>
                <p>Like her, the recipes at Tule’s Cookies are unique without being pretentious, and their presentation is warm, handmade, and yet always beautiful and professional. The goal is to always have cookies that taste just as good as they look.</p>
            </div> -->
            {{#if theme_settings.cookie-archive}}
                <div class="tab-content" id="tab-cookie-archive">
                    <!-- <ul class="productGrid tab-list">
                        <li class="product">
                            <article class="card">
                                <figure class="card-figure">
                                        <a href="#">
                                            <div class="card-img-container">
                                                <img class="card-image" src="https://cdn11.bigcommerce.com/s-4ic1kpievi/images/stencil/263x228/products/293/542/Hazelnut_Crisps_7__87451__88224.1558029485.jpg?c=2" alt="" title="">
                                            </div>
                                        </a>
                                </figure>
                                <div class="card-body">
                                    <h4 class="card-title">
                                            <a href="#">Earl Grey Biscuits Earl Grey Biscuits</a>
                                    </h4>
                                </div>
                            </article>
                        </li>
                        <li class="product">
                            <article class="card">
                                <figure class="card-figure">
                                        <a href="#">
                                            <div class="card-img-container">
                                                <img class="card-image" src="https://cdn11.bigcommerce.com/s-4ic1kpievi/images/stencil/263x228/products/293/542/Hazelnut_Crisps_7__87451__88224.1558029485.jpg?c=2" alt="" title="">
                                            </div>
                                        </a>
                                </figure>
                                <div class="card-body">
                                    <h4 class="card-title">
                                            <a href="#">Earl Grey Biscuits</a>
                                    </h4>
                                </div>
                            </article>
                        </li>
                        <li class="product">
                            <article class="card">
                                <figure class="card-figure">
                                        <a href="#">
                                            <div class="card-img-container">
                                                <img class="card-image" src="https://cdn11.bigcommerce.com/s-4ic1kpievi/images/stencil/263x228/products/293/542/Hazelnut_Crisps_7__87451__88224.1558029485.jpg?c=2" alt="" title="">
                                            </div>
                                        </a>
                                </figure>
                                <div class="card-body">
                                    <h4 class="card-title">
                                            <a href="#">Earl Grey Biscuits</a>
                                    </h4>
                                </div>
                            </article>
                        </li>
                        <li class="product">
                            <article class="card">
                                <figure class="card-figure">
                                        <a href="#">
                                            <div class="card-img-container">
                                                <img class="card-image" src="https://cdn11.bigcommerce.com/s-4ic1kpievi/images/stencil/263x228/products/293/542/Hazelnut_Crisps_7__87451__88224.1558029485.jpg?c=2" alt="" title="">
                                            </div>
                                        </a>
                                </figure>
                                <div class="card-body">
                                    <h4 class="card-title">
                                            <a href="#">Earl Grey Biscuits</a>
                                    </h4>
                                </div>
                            </article>
                        </li>
                    </ul> -->
                </div>
            {{/if}}
        </div>
    </div>
</div>
</div>
