<div class="home-promotional-banner">
    <div class="pro-banner-wrp">
        <div class="banner-block">
            <div class="b-b-f">
                <a href="{{theme_settings.pro-banner-link1}}" class="banner-hover"><img src="/product_images/uploaded_images/{{theme_settings.pro-banner-name1}}.jpg" alt=""></a>
                <div class="banner-content">
                    <h3>{{theme_settings.pro-banner-title1}}</h3>
                    <a href="{{theme_settings.pro-banner-link1}}" class="button button--primary">Shop Now</a>
                    <h3 class="text-heading">{{theme_settings.pro-cookie-name}}</h3>
                </div>
            </div>
        </div>
        <div class="banner-block">
            <div class="b-b-t">
                <a href="{{theme_settings.pro-banner-link2}}" class="banner-hover"><img src="/product_images/uploaded_images/{{theme_settings.pro-banner-name2}}.jpg" alt=""></a>
                <div class="banner-content">
                    <h3>{{theme_settings.pro-banner-title2}}</h3>
                    <a href="{{theme_settings.pro-banner-link2}}" class="button button--primary">Shop Now</a>
                </div>
            </div>
            <div class="b-b-b">
                <a href="{{theme_settings.pro-banner-link3}}" class="banner-hover"><img src="/product_images/uploaded_images/{{theme_settings.pro-banner-name3}}.jpg" alt=""></a>
                <div class="banner-content">
                    <h3>{{theme_settings.pro-banner-title3}}</h3>
                    <a href="{{theme_settings.pro-banner-link3}}" class="button button--primary">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="banner-block">
            <div class="b-b-f">
                <a href="{{theme_settings.pro-banner-link4}}" class="banner-hover"><img src="/product_images/uploaded_images/{{theme_settings.pro-banner-name4}}.jpg" alt=""></a>
                <div class="banner-content">
                    <h3>{{theme_settings.pro-banner-title4}}</h3>
                    <a href="{{theme_settings.pro-banner-link4}}" class="button button--primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
