<div class="mobile-menu-block">
    <div class="mobile-menu-inner clearfix">
        
        <div class="mobile-menu-close-btn align-right clearfix">
            <a href="javascript:void(0)">
            <svg><use xlink:href="#icon-Close-01-01"></use></svg>
            </a>
        </div>

        <div class="mobile-menu-item">
            <div class="sidebarBlock">
                {{> components/ob-custom/ob-navigation-hardcode}}
            </div>
        </div>

    </div>
  </div>
  <div class="menu-open-overlay"></div>
  
