<ul class="navPages-list sf-menu">
    <li class="navPages-item">
        <a class="navPages-action" href="/cookie-of-the-month/" > Shop our Current Selection <svg><use xlink:href="#icon-chevron-down"></use></svg></a>
        <ul class="navPage-subMenu-list">
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action" href="/cookie-of-the-month/">Featured Cookie-of-the-Month</a>
            </li>
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action" href="/fresh-from-the-oven/">Fresh from the Oven</a>
            </li>
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action" href="/granola-plans">Granola Plans</a>
            </li>
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action" href="/special-occasions-corporate-gifts/">Special Occasions & Corporate Gifts</a>
            </li>
        </ul>
    </li>

    <li class="navPages-item">
        <a class="navPages-action" href="/our-story/"> About <svg><use xlink:href="#icon-chevron-down"></use></svg></a>
        <ul class="navPage-subMenu-list">
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action" href="/our-story/">Our Story</a>
            </li>
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action" href="/cookie-archive/">Cookie Archive</a>
            </li>
        </ul>
    </li>

    <li class="navPages-item">
        <a class="navPages-action" href="/shipping-information/"> Customer Service <svg><use xlink:href="#icon-chevron-down"></use></svg></a>
        <ul class="navPage-subMenu-list">
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action" href="/frequently-asked-questions/">Frequently Asked Questions</a>
            </li>
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action" href="/shipping-information/">Shipping Information</a>
            </li>
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action" href="/our-guarantee/">Our Guarantee</a>
            </li>
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action" href="/contact-us/">Contact Us</a>
            </li>
        </ul>
    </li>

    
</ul>
