{{#if settings.show_newsletter_box}}
    <div class="container">
        <div class="footer-newsletter" data-section-type="newsletterSubscription">
            <div class="bg-img">
                <img src="/product_images/uploaded_images/newsletter-bg-img.jpg" alt="">
                <div class="subscription-form">
                    <div class="border-wrp"></div>
                    {{> components/ob-custom/ob-subscription-form}}
                </div>
            </div>
        </div>
    </div>
{{/if}}
